body {
    background-color: #22264b;
    padding: 0;
    padding-bottom: 1rem;
}

h1 {
    font-family: 'Libre Baskerville', serif;
	font-style: italic;
    font-weight: 700;
	font-size: 4rem;
	line-height: 1.4;
	color: #e6cf8b;
    margin-bottom: 0;
}

h2 {
    font-family: 'Roboto Condensed', sans-serif;
	font-style: normal;
    text-transform: uppercase;
    font-weight: bold;
	color: #e6cf8b;
	font-size: 1rem;
	line-height: 1.4;

}

p, ol, ul {
    font-family: 'Libre Baskerville', serif;
	font-style: normal;
    font-weight: 400;
	color: #e6cf8b;
	font-size: 1rem;
	line-height: 1.5em;
}

p {
    padding: 0 1rem 0 0;
}

a {
    text-decoration: none;
    color: rosybrown;
}

a:hover {
    color: rgba(255, 255, 255, 0.3);
}

.text-column {
    width: 66%;
    margin: auto;
    margin-top: 15%;
}
