body {
    background-color: #170413;
    padding: 0;
    padding-bottom: 1rem;
    height: 100%;
}

.logo-container {
    width: 33vw;
    max-width: 400px;
    margin: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

svg {
    stroke: #92deff;
    transition: ease .5s;
}

svg:hover {
    /* stroke: white; */
    transform: rotate(30deg);
    opacity: 0.3;
    transition: ease .1s;
}
